/node_modules
/public/hot
/public/storage
/public/avatars
/public/js/app.js
/public/css/style.css
/public/fonts
/public/images/error-bg.jpg
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phplint-cache
.test_core_models.php
*.todo
/*.sql
/*.sql.gz
.project
.DS_Store
