/* Logo */
.light-logo, .dark-logo {
  max-height: 50px;
}

/* Alerts */
#alerts {
  z-index: 9999;
  position: fixed;
  top: 7%;
  right: 7%;

  .message {
    min-width: 150px;
    border-radius: 5px;
    opacity: 0.8;
    float: left;
    clear: both;
    padding: 8px;
    margin-bottom: 10px;
  }
}

/* Extra padding classes */
.with-padding-bottom {
  padding-bottom: 15px;
}
.with-padding-top {
  padding-top: 15px;
}
.with-padding-bottom-top {
  padding-top: 15px;
  padding-bottom: 15px;
}
