/* Printing support: Hide menus */
@media print {
  header.topbar,
  aside.left-sidebar,
  #impersonator-bar
  {
    visibility: hidden;
  }
}

/* Logo */
.light-logo, .dark-logo {
  max-height: 50px;
}

.nav-link .mdi-account-circle, .nav-link .mdi-briefcase {
  font-size: 30px;
}

/* Smaller device adjustments */
@media (max-width: 768px) {
  .container-fluid {
    padding: 0 15px;
  }
  .fc-scroller {
    min-height: 320px;
  }
}

/* Alerts */
#alerts {
  z-index: 9999;
  position: fixed;
  top: 7%;
  right: 7%;

  .message {
    min-width: 150px;
    border-radius: 5px;
    opacity: 0.8;
    float: left;
    clear: both;
    padding: 8px;
    margin-bottom: 10px;
  }
}

/* Extra padding classes */
.with-padding-bottom {
  padding-bottom: 15px;
}

.with-padding-top {
  padding-top: 15px;
}

.with-padding-bottom-top {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Datepicker */
.datepicker {
  padding: .5rem .75rem;
  z-index: 10000 !important;
}

/* Signature */
.signature {
  font-family: 'Homemade Apple', cursive;
  font-size: 1.1rem;
}

/* Schedule padding */
td .fc-event-container {
  padding: 0 2px;
}

.active-business {
  line-height: 16px;
}