/*Franchisor nav links*/
a.franchisor-navlink {
  padding-top: 16px !important;
  font-size: 16px !important;
}

/* Printing support */
@media print {
  /* Hide menus */
  header.topbar,
  aside.left-sidebar,
  #impersonator-bar
  {
    visibility: hidden;
  }
  /* Repeat table headers */
  thead {
    display: table-header-group !important;
  }
  th {
    position: static !important;
  }
  th.sorting:before {
    display: none;
  }
  th.sorting:after {
    display: none;
  }
  /* Reduce table font size */
  table td, table th {
      font-size: 12px;
  }
  .hidden-print {
    display: none;
  }
}

.table.fit-more:not(.form-check) {
    font-size: 14px;
}

/* Navbar bullets */
.sidebar-nav ul li ul li a {
  padding: 10px 30px 10px 20px;
}
.sidebar-nav ul li ul li a:before {
  content: "\f111 ";
  font: 6px FontAwesome;
  position: relative;
  top: -3px;
  left: -4px;
}

/* Show header with preloader */
.preloader {
  margin-top: 70px;
}

/* Logo */
.light-logo, .dark-logo {
  max-height: 50px;
}

/* Reduce page title padding */
.page-titles {
  padding: 0 15px 8px !important;
  margin-bottom: 20px;
}
.container-fluid {
  padding: 0 20px 20px 20px;
}
.sidebar-nav {
  padding: 15px 10px;
}

.nav-link .mdi-account-circle, .nav-link .mdi-briefcase {
  font-size: 30px;
}

/* IE Sidebar Fix */
.sidebar-nav {
  padding-bottom: 45px;
}

/* Different headers for mobile and desktop */
#header-desktop {
  display: none;
}
@media (min-width: 1170px) {
  #header-desktop {
    display: block;
  }
  #header-mobile {
    display: none;
  }
}
@media (max-width: 1169px) {
  .mini-sidebar .top-navbar .navbar-header {
    width: auto;
    padding: 0 15px;
  }
  .navbar-brand img {
    max-width: 120px;
  }
}

/* Customize modals, make wider, but slimmed down padding */
.modal-header {
  padding: 10px 15px;
  .modal-title {
    font-weight: 500;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    max-width: 900px;
  }
}
@media (min-width: 1170px) {
  .modal-lg {
    max-width: 1070px;
  }
}

label.custom-checkbox {
  cursor: pointer;
}

.table-fit-more {
  .money-input {
    max-width: 85px;
  }
  .date-input {
    min-width: 95px !important;
    max-width: 120px;
  }
  th { font-size: 13px; font-weight: 500; }
  .form-control {
    min-width: 80px;
  }
  select.form-control { min-width: 120px; }
}

.modal-fit-more {
  .modal-body {
    padding: 10px 15px;
    font-size: 14px;
  }
  .card-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .custom-control-description {
    padding-top: 3px;
  }
  .form-control {
    font-size: 14px;
    min-height: 24px;
    padding: 0.25rem 0.5rem;
  }
  select.form-control {
    height: 2rem !important;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .col-form-label {
    padding-bottom: 2px;
  }
}


/* Smaller device adjustments */
@media (max-width: 768px) {
  .container-fluid {
    padding: 0 15px;
    overflow-x: hidden;
  }
  .fc-scroller {
    min-height: 320px;
  }
}

/* Alerts */
#alerts {
  z-index: 9999;
  position: fixed;
  top: 7%;
  right: 7%;

  .message {
    min-width: 150px;
    border-radius: 5px;
    opacity: 0.8;
    float: left;
    clear: both;
    padding: 8px;
    margin-bottom: 10px;
  }
}

/* Extra padding classes */
.with-padding-bottom {
  padding-bottom: 15px;
}

.with-padding-top {
  padding-top: 15px;
}

.with-padding-bottom-top {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Datepicker */
.form-control.datepicker {
  padding: 0.375rem 0.75rem;
}

/* Signature */
.signature {
  font-family: 'Homemade Apple', cursive;
  font-size: 1.1rem;
}

/* Schedule padding */
td .fc-event-container {
  padding: 1px 2px;
}

.active-business {
  line-height: 16px;
}

/* Quick Search */
.quick-search {
  width: 300px;
  position: relative;
  float: right;
  padding-right: 15px;
}
.search-results {
  width: 300px;
  position: absolute;
  max-height: 300px;
  display: block;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 160px;
  padding: 5px 0;
  margin: 0;
  width: 100%;
  overflow-y: scroll;
  border: 1px solid rgba(0,0,0,.26);
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.15);
  border-top: none;
  border-radius: 0 0 4px 4px;
  text-align: left;
  list-style: none;
  background: #fff;
}
@media (min-width: 1170px) {
  .quick-search, .search-results {
    width: 400px;
  }
}

/* Print columns */
@media print {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}

/* Chartist */
.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-bar {
  stroke: $success;
}

.ct-series-b .ct-line,
.ct-series-b .ct-point,
.ct-series-b .ct-bar {
  stroke: $info;
}

.ct-series-c .ct-line,
.ct-series-c .ct-point,
.ct-series-c .ct-bar {
  stroke: $primary;
}

/* Zoomed checkbox */
label.large-checkbox {
  clear: left;
  float: left;
}
.large-checkbox [type=checkbox] {
  zoom: 1.25;
  vertical-align: middle;
}

/* Menu Badge (exceptions) */
.menu-badge {
  margin-left: .5rem!important;
  font-size: 14px;
  min-width: 25px;
}

.btn-light {
  border-color: #ddd;
}

.scroll-sidebar {
  overflow: unset;
  overflow-y: auto!important;
}

.user-pills .badge-pill {
  font-size: 12pt;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-right: .5em;
  margin-bottom: .5em;
}
.delete-btn {
  color: red;
  padding-left: 10px;
}

.avatar {
  border-radius: 75px;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
}

label.required::after, legend.required::after {
  content: " *";
  color: red;
}

.notification-icon {
  padding-top: 9px;
  font-size: 28px;
  padding-left: 3px;
}

.datepicker-dropdown {
  z-index: 10000 !important; /* ALLY-761 - Header hides datepicker under certain circumstances */
}

.extra-top-pad {
  padding-top: 30px;
}

.auto_reply_checkboxes{
  margin-left: 0;
}

.clock-out-list {
  h1 {
    margin-top: 30px;
  }

  p {
    max-width: 300px;
    margin: 20px auto 50px;
    opacity: 0.7;
  }

  .btn-client {
    margin-bottom: 20px;
  }
}

.f-1 { flex: 1 }

@media (min-width: 992px) {
    .modal-xl {
        max-width: 800px;
    }
}
@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px;
    }
}

#impersonator-bar {
  background: #333;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 500;
  opacity: 0.5;
}

.form-group.bold > label {
    font-weight: 800;
}