/* Printing support */
@media print {
  /* Hide menus */
  header.topbar,
  aside.left-sidebar,
  #impersonator-bar
  {
    visibility: hidden;
  }
  /* Repeat table headers */
  thead {
    display: table-header-group !important;
  }
  th {
    position: static !important;
  }
  th.sorting:before {
    display: none;
  }
  th.sorting:after {
    display: none;
  }
  /* Reduce table font size */
  table td, table th {
    font-size: 12px;
  }
  .hidden-print {
    display: none;
  }
}

/* Logo */
.light-logo, .dark-logo {
  max-height: 50px;
}

.nav-link .mdi-account-circle, .nav-link .mdi-briefcase {
  font-size: 30px;
}

/* IE Sidebar Fix */
.sidebar-nav {
  padding-bottom: 45px;
}

/* Different headers for mobile and desktop */
/* TODO */

/* Smaller device adjustments */
@media (max-width: 768px) {
  .container-fluid {
    padding: 0 15px;
  }
  .fc-scroller {
    min-height: 320px;
  }
}

/* Alerts */
#alerts {
  z-index: 9999;
  position: fixed;
  top: 7%;
  right: 7%;

  .message {
    min-width: 150px;
    border-radius: 5px;
    opacity: 0.8;
    float: left;
    clear: both;
    padding: 8px;
    margin-bottom: 10px;
  }
}

/* Extra padding classes */
.with-padding-bottom {
  padding-bottom: 15px;
}

.with-padding-top {
  padding-top: 15px;
}

.with-padding-bottom-top {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Datepicker */
.datepicker {
  padding: .5rem .75rem;
  z-index: 10000 !important;
}

/* Signature */
.signature {
  font-family: 'Homemade Apple', cursive;
  font-size: 1.1rem;
}

/* Schedule padding */
td .fc-event-container {
  padding: 0 2px;
}

.active-business {
  line-height: 16px;
}

/* Print columns */
@media print {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}

.modal-fit-more {
  .modal-body {
    font-size: 14px;
  }
  .card-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .custom-control-description {
    padding-top: 2px;
  }
  .form-control {
    font-size: 14px;
    min-height: 28px;
  }
  .form-group {
    margin-bottom: 15px;
  }
}

/* Chartist */
.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-bar {
  stroke: $success;
}

.ct-series-b .ct-line,
.ct-series-b .ct-point,
.ct-series-b .ct-bar {
  stroke: $info;
}

.ct-series-c .ct-line,
.ct-series-c .ct-point,
.ct-series-c .ct-bar {
  stroke: $primary;
}
